* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%);
    background-color: hsl(0, 0%, 98%);
}
.heading {
    text-align: center;
    padding: 0.8em;
    font-size: 80%;
}
.heading p {
    font-size: 130%;
    margin-top: 1.5em;
    margin-bottom: 0.85em;
}
#mainh1 {
    font-weight: 200;
}
#mainh2 {
    font-weight: 600;
}
img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 12.75em;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first {
    position: relative;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 3%;
    box-shadow: 0 8.5px 22px -9px hsl(229, 6%, 66%);
    padding: 1.125em;
    width: 19em;
    height: 14em;
    line-height: 2em;
    margin:  0.85em 0;
}
.first p {
    margin-bottom: 1.275em;
    font-size: 90%;
}
.first h2{
    margin-bottom: 0.1325em;
    margin-top: 0.1325em;
}
.two {
    border-top: 3px solid hsl(0, 78%, 62%);
    position: relative;
    border-radius: 3%;
    box-shadow: 0 8.5px 22px -9px hsl(229, 6%, 66%);
    padding: 1.125em;
    width: 19em;
    height: 14em;
    line-height: 2em;
    margin:  0.85em 0;
}
.two p {
    margin-bottom: 1.275em;
    font-size: 90%;
}
.two h2{
    margin-bottom: 0.1325em;
    margin-top: 0.1325em;
}
.three {
    border-top: 3px solid hsl(34, 97%, 64%);
    position: relative;
    border-radius: 3%;
    box-shadow: 0 8.5px 22px -9px hsl(229, 6%, 66%);
    padding: 1.125em;
    width: 19em;
    height: 14em;
    line-height: 2em;
    margin:  0.85em 0;
}
.three p {
    margin-bottom: 1.275em;
    font-size: 90%;
}
.three h2{
    margin-bottom: 0.1325em;
    margin-top: 0.1325em;
}
.four {
    border-top: 3px solid hsl(212, 86%, 64%);
    position: relative;
    border-radius: 3%;
    box-shadow: 0 8.5px 22px -9px hsl(229, 6%, 66%);
    padding: 1.125em;
    width: 19em;
    height: 14em;
    line-height: 2em;
    margin:  0.85em 0;
}
.four p {
    margin-bottom: 1.275em;
    font-size: 90%;
}
.four h2 {
    margin-bottom: 0.1325em;
    margin-top: 0.1325em;
}
@media (min-width: 525px) {
    
    .heading {
        font-size: unset;
    }
    .heading p {
        font-size: 15px;
    }
    .container1 {
        margin: auto;
        max-width: 500px;
    }
}

@media (min-width: 648px) {

    .grid {
        display: grid;
        grid-template-columns: 19em 19em;
        grid-template-rows: 14em 14em;
        justify-items: center;
        align-items: center;
        gap: 1.7em 1.7em;
        margin: 1.7em auto;
    }

}

@media (min-width: 875px) {

    .grid {
        display: grid;
        grid-template-columns: 21.875em 21.875em;
        grid-template-rows: 14.875em 14.875em;
        justify-items: center;
        align-items: center;
        gap: 1.7em 1.7em;
        margin: 1.7em auto;
    } 
    .first {
        width: 21em;
        height: 14.875em;
    }
    .two {
        width: 21em;
        height: 14.875em;
    }
    .three {
        width: 21em;
        height: 14.875em;
    }
    .four {
        width: 21em;
        height: 14.875em;
    }
    img {
        left: 15em;
        top: 8.75em;
    }
}
@media (min-width: 1040px) {

    .first {
        grid-area : 1 / 1 / 3 /2 ;
    }
    .two {
        grid-area : 1 / 2 / 2 / 3 ;
    }
    .three {
        grid-area : 2 / 2 / 3 / 3 ;
    }
    .four {
        grid-area : 1 / 3 / 3 / 4 ;
    }
}
 
        